
#content { margin: 0 auto;

 	width: 800px;
 	height: 1000px;
 	border: 1px solid red;}

a{text-decoration: none;}


ul li{text-decoration: none;
	  list-style: none;}	 

header {width: 800px;
		height: 250px;

	}

nav{
	width: 500px;
	height: 50px;
		border: 1px solid blue;
		margin: 0 auto;
		padding: 0 0 0 0;
}

header nav ul{
margin: 0;
padding: 0;

}
header nav ul li.green a {
	padding: 0;
	margin: 0;
	display: block;
		float: left;
	width:125px;
	height: 50px;
		background: green;

}

header nav ul li.red a {
	padding: 0;
	margin: 0;
	display: block;
		float: left;
	width:125px;
	height: 50px;
		background: red;

}	

header nav ul li.blue a {
	padding: 0;
	margin: 0;
	display: block;
		float: left;
	width:125px;
	height: 50px;
		background: blue;

}	

header nav ul li.brown a {
	padding: 0;
	margin: 0;
	display: block;
		float: left;
	width:125px;
	height: 50px;
		background: brown;

}	

header nav ul li.green a:hover {
	padding: 0;
	margin: 0;
	display: block;
		float: left;
	width:125px;
	height: 50px;
		background: white;

}

header nav ul li.red a:hover {
	padding: 0;
	margin: 0;
	display: block;
		float: left;
	width:125px;
	height: 50px;
		background: white;
}	

header nav ul li.blue a:hover {
	padding: 0;
	margin: 0;
	display: block;
		float: left;
	width:125px;
	height: 50px;
		background: white;

}	

header nav ul li.brown a:hover {
	padding: 0;
	margin: 0;
	display: block;
		float: left;
	width:125px;
	height: 50px;
		background: white;

}	